/* 
	Color Scheme
	Base Purple: 7a36ff;
	Dark Purple: 4914b2;
	Background Purple: 56417f;
	Light Orange: ffab50;
	Dark Orange: e87d3d;
	Light Green: 17cc34;
	Dark Green: 1db235;
*/

/* General */

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 16px;
}

/* Global */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Great Vibes', cursive;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 3em;
}

h1, h2 {
	margin: 0 0 40px;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
	margin: 20px 0;
}

h4 {
	font-size: 1.5em;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: normal;
}

a:link, a:visited {
	color: #7a36ff;
}

a:hover {
	text-decoration: none;
	color: #4914b2;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	font-weight: bold;
}

.btn-danger {
	background-color: #e87d3d;
	border-color: #ce6f36;
}

.btn-danger:hover {
	background-color: #ffab50;
	border-color: #bf803c;
}

.btn-success {
	background-color: #1db235;
	border-color: #1db235;
}

.btn-success:hover {
	background-color: #17cc34;
	border-color: #17cc34;
}


/* Header */

nav.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	font-family: 'Great Vibes', cursive;
	font-size: 28px;
}

/* Hero Section */

#hero {
	background: url('../img/hero-bg.jpg') right bottom no-repeat;
	min-height: 500px;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero article {
	width: 100%;
	text-align: center;
}

#hero .logo {
	display: table;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	line-height: 58px;
	margin: 30px auto 0;
	height: 350px;
	width: 350px;
	background: #7a36ff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero .logo .logo-text {
	display: table-cell;
	vertical-align: middle;
}

#hero .hero-text {
	margin-top: 30px;
}

#hero .hero-text h1 {
	font-size: 3em;
	margin: 0 0 20px;
}

#hero .hero-text h2 {
	font-size: 2.25em;
}

/* Layout */

#opt-in {
	background: #56417f;
	padding: 20px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
}

#opt-in p {
	margin: 7px 0 0 0;
}
